<!DOCTYPE html>
<html>
<head>	
	
	
	
	
	
	
	<script data-ad-client="ca-pub-2436429471085151" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script data-ad-client="ca-pub-2436429471085151" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-155744139-1"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-155744139-1');</script><!-- Global site tag (gtag.js) - Google Analytics --> <link href="https://fonts.googleapis.com/css?family=Kanit:400,900i&display=swap" rel="stylesheet"><script async src="https://www.googletagmanager.com/gtag/js?id=UA-155706682-1"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-155706682-1');</script><script data-ad-client="ca-pub-2663021464230079" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	 <meta name="google-signin-client_id" content="1615070795-9m0rkdaa01jggipf5qsrt9k63kk0k2qt.apps.googleusercontent.com">
	<meta charset=UTF-8><meta http-equiv=X-UA-Compatible content="IE=edge"><script data-ad-client="ca-pub-2436429471085151" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> <meta http-equiv="content-type" content="text/html; charset=UTF-8" /><meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1">
	  <meta name="google-signin-client_id" content="1615070795-9m0rkdaa01jggipf5qsrt9k63kk0k2qt.apps.googleusercontent.com">
	<script data-ad-client="ca-pub-2436429471085151" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	
  <title>vitfacultyreview</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit:ital,wght@0,600;1,900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.8.2/css/all.css>
<link rel=stylesheet href=https://use.fontawesome.com/releases/v5.11.2/css/all.css><link rel=stylesheet type=text/css href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css><link rel=stylesheet href=https://use.fontawesome.com/releases/v5.11.2/css/all.css>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/rating.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/rating.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  
  <script src="https://unpkg.com/jquery.rateit@1.1.3/scripts/jquery.rateit.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <style type="text/css">
	  
@media only screen and (max-width:700px){
		body{
				font-size: 14px;
				text-align:center;
			}
	#mobile-ad{
		margin:5%;
	}
				#rat{
				margin-top:10px;
				width:150px;
				padding:10px 20px;
			}
	#rowase{
		margin-top:-10%;margin-bottom:-7%;
	}
			#sub{
				width:60px;
				height:50px;margin-left:20px;
				font-size:8px;
			}
			.subt{
				width: 60%;
				display:block;
			}
					#desc{
				display:none;
			}
			#search_in{
			margin-left:-30px;margin-right:2%;width:230px;font-size:20px;
				
			}
			.tbg{
  font-size:15px;
  background: -webkit-linear-gradient(#B0F3F1, #FFCFDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
			.stat{
				padding-left:1%;
					padding-right:1%;
				width: 98%;
				margin-top:50px;
			}
		}
    html,body{
      overflow-x: hidden;
    }
	  body{
		  height:100vh;
	  }
    body{
		padding-bottom:-20%;
		
      background-color: #8e07ee;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FB3'/%3E%3Cstop offset='1' stop-color='%238e07ee'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23c76191'/%3E%3Cstop offset='1' stop-color='%238e07ee'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    }
    .svgbg{
      background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.tbg{
  font-size:30px;
  background: -webkit-linear-gradient(#B0F3F1, #FFCFDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sij{
  font-size:18px;
}
@media only screen and (min-width:1200px){
	#mobile-ad{
display:none;
	}
			
	#rowase{
		margin-bottom:-7%;
		margin-top:-18%;
	}
			.tbg{
  font-size:30px;
  background: -webkit-linear-gradient(#B0F3F1, #FFCFDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
			}
		
		}
  </style>
</head>

<body>
	<nav class="navbar navbar-light bg-light justify-content-between sticky-top svgbg">
  <h5><a class=navbar-brand href="/"><img style=width:60px;height:60px src=/images/circle-cropped.png><span  style="font-family:'Palatino Linotype';color:#faf8cf;font-size:15px"><span >|VitrendZ</span></span></a></h5>
<span id="desc" >
	
	 <a class="nav-item" id="m1" style="font-family: 'Josefin Sans', sans-serif; font-size:20px; color: white;margin-right:300px;" class="hidden-md-down"><b>Faculty review</b></a>
  <a class="nav-item" id="m2" style="font-family: 'Josefin Sans', sans-serif; font-size:20px; color: white" class="hidden-md-down">Top-10 faculty for a course</a>
	</span>
 
  <a class="nav-item" style="font-family: 'Josefin Sans', sans-serif; font-size:20px; color: white; text-decoration:none;" href="/">HOME</a>
  
</nav>
	
	
	<div id="mobile-ad" style="margin:3%;">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- facultyshow-1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2436429471085151"
     data-ad-slot="1910380955"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
	
	
	
	
	
<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-2" class="resize" style="height:500px;background-color:black;color:white;margin-top:100px">
      Space for advertisement
    </div> -->
    <div class="col-9 col-lg-9" class="svgbg" style="font-size:60px;color:white;text-align:center;font-family: 'Kanit', sans-serif;margin-top:40px;min-width:350px;margin:0px;margin-top:2%;margin-bottom:1%;">
      <!-- <div class="alert alert-info" style="font-size:30px;font-family: 'Montserrat', sans-serif;" role="alert">
  Scroll down to view the comments
</div> -->
      <p class="tbg" style="font-size:30px">Know your faculty</p>
      <table class="table table-striped table-dark">
  
  <tbody>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;"> Faculty Name</td>
      <td style="font-size:20px"><%= data.facname %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Faculty School</td>
      <td style="font-size:20px"><%= data.facschool %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Friendliness</td>
      <td style="font-size:20px"><%= parseFloat((data.r1)).toFixed(2) %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Notes</td>
      <td style="font-size:20px"><%= parseFloat((data.r3)).toFixed(2) %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Teaching</td>
      <td style="font-size:20px"><%= parseFloat((data.r2)).toFixed(2) %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Overall</td>
      <td style="font-size:20px"><%= parseFloat((data.r4)).toFixed(2) %></td>
      
    </tr>
    <tr>
      
      <td style="font-size:20px" class="tbg" style="width:50%;font-family: 'PT Sans', sans-serif;">Number of ratings</td>
      <td style="font-size:20px"><%= data.nofr %></td>
      
    </tr>
  </tbody>
</table>
    </div>



    <div class="col-2 col-lg-2" style="margin-bottom:7%;margin-top:4%;" id="desc">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- faculty side ads -->
<ins class="adsbygoogle"
     style="display:inline-block;width:280px;height:700px"
     data-ad-client="ca-pub-2436429471085151"
     data-ad-slot="7001634537"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>


	
  <div class="row" id="rowase">
    <!-- <div class="col-2" class="resize" style="height:500px;background-color:black;color:white;margin-top:100px">
      Space for advertisement 4
    </div> -->
    <div class="col-9 col-lg-9" class="svgbg" style="color:white;font-family: 'Kanit', sans-serif;margin-top:8%;min-width:345px;">
      <div class="jumbotron bg-dark"  style="overflow-y:scroll; 
    position:relative;background-color: black;
    height: 800px; font-size:20px;font-family: 'Source Sans Pro', sans-serif; padding-top:10px">
		      <hr>
			  <div style="margin-left:5%;text-align:center;"><% if(noMatch !== null){ %><h3 style="margin-top:100px"><%= noMatch %></h3><h4>There is no user comments on the faculty be the first person to comment...</h4><a style="margin-bottom:10%" class="btn btn-warning btn-lg" href="/faculty">POST</a><% } %></div>
			  
        <ul class="list-unstyled bg-dark">
          
			
			<li class="bg-dark">
    


      <h5 class="mt-0 mb-1 tbg" style="font-weight:900;font-size:30px;text-align:center;margin-left:2%;margin-top:1%">Comments Section</h5>
      
  </li>
			
				

  				<% faculty.forEach(function(faculty){%>

 
  <hr style='border: 1px solid grey;'>
			
  <li class="my-4" style="display:block;">
    
    <div class="media-body">
		   <a href="#" class="pull-left" style="margin:1rem;margin-top:-1rem;">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" style="height:4.2rem;"alt="" class="img-circle">
                            </a>
      <h5 class="mt-0 mb-1" style="font-weight:900;font-size:25px"><i>Anonymous</i></h5>
   <%= faculty.comments %>
		<hr style='border: 1px solid grey;'>
    </div>
	  
  </li>
			
			   	<% }); %>
</ul>
        
      </div>
      
      
      
    </div>
	  <div class="col-2 col-lg-2" style="margin-bottom:7%;margin-top:4%;"  id="desc">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- faculty side 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:280px;height:700px"
     data-ad-client="ca-pub-2436429471085151"
     data-ad-slot="1980122589"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   
  </div>
	</div>
    
 

<!-- <div class="container">
<div class="jumbotron" style="background-color:black;"></div>
</div> -->

  <style>
    @media (min-width: 320px) and (max-width: 480px) {
  
  .resize{
    margin-top:100px;
  }
  
}
  </style>

 <script> $(window).on("load",function(){ $(".loader-wrapper").fadeOut("slow"); }); </script><style>footer a:hover{color:grey;text-decoration:underline}</style>

 <br/><br/><div style="margin-top:60px;margin-left:10%;"> 
	
 <script  async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->
 <ins class="adsbygoogle"
     style="display:inline-block;width:1200px;height:130px"
     data-ad-client="ca-pub-2436429471085151"
     data-ad-slot="4418908697"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>  </div> 

<% include ./partials/footer %>
